<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>videos@{{.Server.HostPort}}</title>
    <style type="text/css">
      body {
        color: #FFFFFF;
        background: #080808;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }
      header ul {
        list-style-type: none;
        margin: 0 0 0 20px;
        padding: 0;
      }
      header ul li {
        border-style: solid;
        border-width: 0px;
        margin: 0 0 0 10px;
        display: inline-block;
        width: 100px;
      }
      ol {
        padding: 0;
      }
      ol li {
        display: inline-block;
      }
      video {
        margin: 0px;
        max-width: 100%;
      }
      img {
        margin: 0px;
        max-width: 100%;
        object-fit: scale-down;
      }
      .inactive {
        color: #807070;
      }
      #content {
        max-width: 656px;
        margin: auto;
      }
      .content-box video {
        display: block;
      }
      .content-box img {
        display: block;
          margin: 25px 0px;
      }
      .media-info {
        display: block;
        margin-top: 5px;
      }
      a:link {
        color: #FFFFFF;
        text-decoration: none;
      }
      a:visited {
        color: #F0F0F0;
      }
      a:hover {
        color: #FF67CB;
      }
      a:active {
        color: #EF57BB;
      }
      a.current-link:link {
        color: #FF67CB;
        text-decoration: none;
      }
      a.current-link:visited {
        color: #FF67CB;
        text-decoration: none;
      }
      a.current-link:hover {
        color: #FF67CB;
      }
      a.current-link:active {
        color: #EF57BB;
      }
    </style>
    <script>
      function toggleFullscreen(e) {
        if(document.webkitFullscreenElement === null) {
          e.webkitRequestFullscreen()
        } else {
          document.webkitExitFullscreen()
        }
      }

      var videos = document.getElementsByTagName("video"), fraction = 0.8;
      function checkVisible() {
        for(var i = 0; i < videos.length; i++) {
          var video = videos[i];
          var x = video.offsetLeft, y = video.offsetTop, w = video.offsetWidth, h = video.offsetHeight, r = x + w, //right
            b = y + h, //bottom
            visibleX, visibleY, visible;
          visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
          visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));
          visible = visibleX * visibleY / (w * h);
          if (visible > fraction) {
            video.preload = "metadata";
          } else {
          }
        }
      }
      window.addEventListener('load', checkVisible, false);
      window.addEventListener('scroll', checkVisible, false);
      window.addEventListener('resize', checkVisible, false);
    </script>
  </head>
  <body>
    <header class="site-header" role="banner">
    </header>
    <div id="content">
    {{range (index .Server.Pages .Index)}}
      <div class="content-box">
        {{if (image .Path)}}
          <img src="http://{{$.Server.HostPort}}/media/{{.Path}}" onclick="toggleFullscreen(this)">
        {{else}}
          <video controls="true" loop=true preload="none">
            <source src="http://{{$.Server.HostPort}}/media/{{.Path}}" type="video/{{.Type}}">
          </video>
          <span class="media-info"><a href="http://{{$.Server.HostPort}}/player/{{.Path}}">{{.Base}}</a></span>
        {{end}}
      </div>
    {{end}}
    <div>
      {{if gt .Index 0}}
        <a href="/page/{{.Index}}">< Previous</a>
      {{else}}
        <span class="inactive">< Previous</a>
      {{end}}
      |
      {{if gt (len .Server.Pages) (inc .Index)}}
        <a href="/page/{{inc (inc .Index)}}">Next ></a>
      {{else}}
        <span class="inactive">Next ></a>
      {{end}}
    </div>
    <ol>
    {{range $index,$value := .Server.Pages}}
      <li><a {{if eq $index $.Index}}class="current-link"{{end}} href="/page/{{inc $index}}">{{inc $index}}</a></li>
    {{end}}
    </ol>
    <footer class="site-footer">
      <a class="playlist-link" href="http://{{.Server.HostPort}}/playlist.m3u">Playlist.m3u</a>
    </footer>
  </body>
</html>
